<div class="container">
  <div class="cadastro-cabecalho">
    <h1>Simule o seu financiamento</h1>
    <p>
      Aproveite as condições do <br />financiamento e pague parcelas <br />que
      cabem no seu bolso. Preencha <br />o formulário ao lado e conheça.
    </p>
    <img src="../../../assets/imagens-angular/retangulo.svg" />
  </div>

  <main class="formulario-cadastro">
    <div class="forms-id">
      <form #cliente="ngForm" (ngSubmit)="adicionarCliente(cliente)">
        <div class="form-group">
          <label for="nome">Nome Completo</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            ngModel
            required
            placeholder="Insira seu nome aqui..."
          />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            ngModel
            required
            placeholder="Insira seu e-mail aqui..."
          />
        </div>

        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input
            type="text"
            class="form-control"
            id="telefone"
            name="telefone"
            ngModel
            required
            placeholder="Insira seu telefone aqui..."
          />
        </div>

        <div class="form-group">
          <label for="salario">Salário</label>
          <input
            type="text"
            class="form-control"
            id="salario"
            name="salario"
            ngModel
            required
            placeholder="Insira seu salário aqui..."
          />
        </div>
        <button type="submit" class="btn btn-primary">
          Simular financiamento
        </button>
      </form>
      <p>{{ mensagem }}</p>
    </div>
  </main>
</div>
