@import "../../../styles.scss";

.container {
  display: flex;
  width: 830px;
  height: 628.79px;
  margin: 95px 95px 95px 95px;
}
.container.cadastro-cabecalho {
  height: 514.79px;
  width: 399px;
}

h1 {
  color: $preto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 48px;
}
p {
  color: $cinza;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 19.45px;
  margin-bottom: 48px;
}

form {
  color: $cinza;
  column-gap: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.01px;
  width: 399px;
}

input {
  border-radius: $radius-padrao;
  color: $preto;
  justify-content: space-between;
  height: 18px;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 18px 20px;
  width: 399px;
}

button {
  background-color: $vermelho;
  border-radius: $radius-padrao;
  color: $branco;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  height: 52px;
  margin-top: 24px;
  padding: 16px 68px;
  width: 444px;
}
