@import "../../../styles.scss";

.container {

  width: 830px;
  height: 515px;
  margin: 95px 95px 95px 95px;
  display: flex;
  align-self: center;

}
.container.cadastro-cabecalho {
  display: flex;
  height: 515px;
  width: 400px;
  align-items: baseline;
  justify-content: flex-start;
}

h1 {
  color: $preto;
  font-family: $fonte-padrao;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 28px;
  margin:0;
  padding:0;
}
p {
  color: $cinza;
  font-family: $fonte-padrao;
  font-size: 16px;
  line-height: 19.45px;
  margin-bottom: 48px;
}

form {

  color: $cinza;
  column-gap: 14px;
  font-family: $fonte-padrao;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.01px;
  width: 399px;


}

.forms-id {

  font-size: 14px;
  font-family: $fonte-padrao;
  font-weight: 400;
  line-height: 17.01px;
  color:#848484;

  .mensagem{
    color: #EC0000 !important;
  }
}

input {
  border-radius: $radius-padrao;
  color: $preto;
  text-align: justify;
  height: 18px;
  margin-top: 14px;
  margin-bottom: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  width: 377px;
  border-color: #848484;
  border-width: 0.75px;
  font-family: $fonte-padrao;
}

::placeholder {
  color:#D0D0D0;
}

button {
  background-color: $vermelho;
  border-radius: $radius-padrao;
  color: $branco;
  font-family: $fonte-padrao;
  font-weight: 400;
  font-size: 14px;
  justify-content: center;
  height: 52px;
  margin-top: 24px;
  padding: 16px 68px;
  width: 400px;
}

.btn-primary{
  background-color: #EC0000;
  border-color: #EC0000;
  border-width: 0.75px;
}

