.container {
  display: flex;

  .box-slide {
    display: flex;
    flex-direction: column;
  }
}

.selected {
  background-color: rgba(107, 31, 31, 0.05) !important;
  color: #EC0000 !important;
  border: 1px solid #EC0000;
  border-radius: 8px;
}


// .mdc-slider input {
//

// }

.main {
  display: flex;
  flex-direction: row;

}




