<div class="main">
  <div class="box-slider">
    <div class="texto-pre-aprovado">
      <h1>{{ textoCredito }}</h1>
      <h2  *ngIf="salario !== 0">{{ valorCreditoEscolhido | currency }}</h2>
      <h2  *ngIf="valorCreditoEscolhido === 0 && salario === 0">R$----</h2>
      <h1>pré-aprovado</h1>
    </div>

    <div class="mat-slider">
      <p>Ajustar valor</p>
      <input  type="range"
        [value]="valorCreditoAprovado"
        [(ngModel)]="valorCreditoEscolhido"
        min="0"
        [max]="valorCreditoAprovado"
        [step]="valorCreditoAprovado/5"
        (click)="zerarParcelaJuros()"
        >
    </div>

    <div class="botoes">
      <div class="div-botao-minimo">
        <button mat-stroked-button (click)="setMinimo()">Mínimo</button>
      </div>

      <div class="div-botao-maximo">
        <button mat-stroked-button class="botao-maximo" (click)="setMaximo()">Máximo</button>
      </div>
    </div>
    <div class="escolha-valor">
      <p>Escolha o valor acima e selecione ao lado o número de parcelas que cabem no seu bolso.</p>
    </div>
  </div>

  <div class="box-output">
    <p>Selecione o número de parcelas</p>
    <div class="buttonFlex">
      <div>
      <button class="button-styles" mat-raised-button
              (click)="selecionarParcelas(300)"
              [ngClass]="{'selected': parcelaSelecionada === 300}"
              matTooltip="Info about the action"
              aria-label="Button that displays a tooltip when focused or hovered over">
              300 parcelas
    </button>

    <button class="button-styles" mat-raised-button
            (click)="selecionarParcelas(180)"
            [ngClass]="{'selected': parcelaSelecionada === 180}"
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over">
            180 parcelas
    </button>
  </div>
  <div>
    <button class="button-styles" mat-raised-button
            (click)="selecionarParcelas(120)"
            [ngClass]="{'selected': parcelaSelecionada === 120}"
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over">
            120 parcelas
    </button>

    <button class="button-styles" mat-raised-button
            (click)="selecionarParcelas(60)"
            [ngClass]="{'selected': parcelaSelecionada === 60}"
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over">
            60 parcelas
    </button>
  </div>
    </div>

    <div>
      <p >{{ parcelaSelecionada + " parcelas" }}</p>
       <p *ngIf="salario !== 0">
        {{ parcelaComJuros | currency}}
      </p>
      <p *ngIf="valorCreditoEscolhido === 0 && salario === 0">
        R$----
      </p>
      <button mat-flat-button color="warn" (click)="irParaTelaCadastro()">Ir para home</button>
    </div>
  </div>
</div>
