@import "../../../styles.scss";
.main {

  width: 830px;
  height: 515px;
  margin: 95px 95px 95px 95px;
  display: flex;
  align-self: center;

}

h1 {
  color: rgba(35, 35, 35, 1);
  font-size: 28px;
  font-family: Verdana;
  font-size: 28px;
  font-weight: 400;
  width: 320px;
  height: 34px;


}

h2 {
  color: #EC0000;
  font-family: Verdana;
  font-size: 40px;
  font-weight: 400;
  width: 399px;
  height: 40px;
  gap:48px;


}

p{
  color: #848484;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 400;
}


.container {
  display: flex;

  .box-slide {
    display: flex;
    flex-direction: column;
  }
}

.button-styles{
  padding: 16px 18px 16px 18px;
  margin: 10px 10px 10px 0px;
  width: 165px;
  height: 56px;
  border: 1px solid;
  border-radius: 8px;
  color: #848484 !important;
  border-color: #848484 !important;
}

.selected {
  background-color: rgba(107, 31, 31, 0.05) !important;
  color: #EC0000 !important;
  border: 1px solid;
  border-radius: 8px;
  border-color: #EC0000 !important;
}

.mat-slider input {
 width: 287px;
 height: 16px;
 background-color: #AD1212;
 accent-color:#AD1212;
}

.botoes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  align-items: baseline;

}

.div-botao-minimo{
  width: 79px;
  height: 41px;
  border-radius: 8px;
  --mdc-outlined-button-label-text-color: #848484;
}

.div-botao-maximo{
  width: 83px;
  height: 41px;
  border-radius: 8px;
  --mdc-outlined-button-label-text-color: #EC0000;
}

.botao-maximo{
  border: 1px solid #EC0000 !important;
}

.escolha-valor{
  padding-top: 50px;
  justify-content: center;
  width: 288px;
  height: 57px;
}

.texto-pre-aprovado{
  justify-content: flex-start;
}

.main {
  display: flex;
  flex-direction: row;

}

.button-flex{
  display: flex;
  flex-direction:   column;
  justify-content: space-around;
}

.button-row{
  display:flex;
  justify-content: flex-start;
}

.button-styles .mat-mdc-raised-button{
--mdc-outlined-button-label-text-color:#5E5E5E;
}

.Botao-financiar{
  width: 399px;
  height: 49px;
  padding: 16px 68px 16px 68px;
  gap: 10px;
  opacity: 0px;
  background: #EC0000;


}

.box-output{
  color:#848484
}

.valor-parcela{
  color:#EC0000;
  font-size: 28px;
}

.Ir-para-home{
  width: 399px;
  height: 49px;
  border-radius: 8px;
  background-color:#EC0000 !important;
  font-family: $fonte-padrao;
  font-weight: 400;
  font-size: 14px;

}

.selecione-text{
  color: #232323;
}
